#root {
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

h1{
  color: rgb(25, 0, 255);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}



.login {
 
  background-repeat: no-repeat;
  position: relative;
}

.iconButton{
  width: 10px;
}
.iconSearch{
  width: 10px;
}

.pokedex {
  background-image: url('./assets/img/pokemon-list.png');
}

.pokeLis {
  display: grid;
  grid-gap: 1em;
  grid-auto-rows: 20rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  color: rgb(3, 3, 22);
}

.pokeLis img {
  width: 5rem;
  height: 6rem;
  border:inset;
  border-radius: 8%;
}


.pokemonCard {
  display: flex;
  justify-content: start;
  margin-right: auto;
  align-items: baseline;
  justify-items: center;
  position: relative;
}
.pokemonCard {
  padding: 1.5em;
  will-change: filter;
}
.pokemonCard:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.pokemonCard.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}




.cardPoke {
  height: 6em;
  will-change: filter;
}
.cardPoke:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.cardPoke.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.pokemonCard img {
  width: 7rem;
}

.cardPoke {
  background-image: url('./assets/img/pokederx3.jpg');

  height: 20rem;
  width: 11rem;

  background-repeat: no-repeat;
  background-size: contain;

  border-radius: 8px;
  box-shadow: 2px 2px 8px rgb(0 0 0 / 30%);
  text-decoration: none;
  color: rgba(0,0,0,.8);

  position: absolute;
}

.buttonPage {
  margin: 35px;
}

.imgCar {
  position: relative;
  top: 40%;
}

.namePokemon {
  position: relative;
  top: 46%;
}

.imgAndName {
  position: fixed;
  top: 11%;
  left: 40%;

}

.pokemonCardButton {
  position: fixed;
  right: 88%;
}

.poke_weigth_heigth {
  background-color: yellow;
  position: fixed;
  left: 45%;
  top: 18%;
  width: 35vh;
}

.poke_type {
  background-color: rgb(25, 0, 255);
  position: fixed;
  right: 70%;
  top: 15%;
  width: 19vh;
}

.poke_abilities {
  position: sticky;
  right: 42%;
  left: 10%;
  top: 55%;
}

.energy {
  background-color: rgb(255, 0, 0);
  position: fixed;
  top: 7%;
  right: 70%;
  display: inline-grid;
  justify-items: start;
  width: 18vh;
}

.movements {
  background-color: rgb(202, 253, 16);
  position: sticky;
    left: 85%;
}